<section class="">
  <h2 class="text-2xl font-bold text-center">Lista de Clientes</h2>
  <div class="m-14">
    <table class="min-w-full border border-gray-300">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2 text-left">Nome</th>
          <th class="px-4 py-2 text-left">Email</th>
          <th class="px-4 py-2 text-left">Telefone</th>
          <th class="px-4 py-2 text-left">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of paginatedCustomers" class="hover:bg-gray-100">
          <td class="border px-4 py-2">{{ customer.firstName }}</td>
          <td class="border px-4 py-2">{{ customer.email }}</td>
          <td class="border px-4 py-2">{{ customer.phone }}</td>
          <td class="border px-4 py-2">
            <button (click)="editCustomer(customer)" class="bg-green-500 text-white px-4 py-1 rounded mr-2 hover:bg-green-500">Editar</button>
            <button  (click)="deleteCustomer(customer.id)" class="bg-gray-500 text-white px-4 py-1 rounded hover:ring-gray-500">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mt-4 flex justify-center">
      <button 
        *ngFor="let page of [].constructor(totalPages); let i = index"
        (click)="changePage(i + 1)" 
        [class.bg-gray-400]="i + 1 === currentPage"
        class="mx-1 px-3 py-1 border rounded hover:bg-gray-300"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>
</section>
